<template>
	 <div class="index">
		<map name="" 
			show-location
			:longitude="location.longitude"
			:latitude="location.latitude"
		></map>
		<div class="footer">
			 <div class="icon">
				<div class="location"><u-icon name="map" color="#03f" size="90"></u-icon></div>
				<div class="my" @click="goUser"><u-icon name="account-fill" color="#03f" size="80"></u-icon></div>	 
			 </div> 
			 <hr>
			 <div class="add" @click="goAddSign">添加面试</div>
		 </div> 
	 </div>
</template>

<script>
import {reactive, onMounted,toRefs} from '@vue/composition-api'
export default {
	 onShow:function() {
        const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
        console.log("location...",location);
        localStorage.setItem("key", location.address);
    },
    onUnload:function () {
        // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
        chooseLocation.setLocation(null);
    },
	setup(){
		let location = reactive({
			longitude: 0, 
			latitude: 0
		})
		onMounted(()=>{
			wx.getLocation({
				type: 'wgs84',
				success (res) {
					location.longitude = res.longitude;
					location.latitude = res.latitude;
				}
			})
		})
		

		// 去个人中心
		function goUser(){ 
			wx.navigateTo({url: '/pages/user/index'})
		}

		// 去添加面试
		function goAddSign(){
			wx.navigateTo({url: '/pages/sign/addSign'})
		}
	 
		return {
			location,
			goUser,
			goAddSign
		}
	}
}
</script>

<style lang="scss">
.index{
	position: relative;
}
map{
	width: 100vw;
	height: 100vh;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200rpx; 
	width: 100vw;  
	.my{
		border:2px solid #abcdef;
		border-radius: 50rpx;
		background: #000;
		
	}
	.add{
		background: #000;
		color: #fff;
		height: 100rpx;
		margin-top: 10px;
		line-height: 100rpx; 
		font-size: 40rpx;
		text-align: center;
	}
}
.icon{
	display: flex;
	justify-content: space-between;
}
</style>
