<template>
    <div class="pay">
        <h2>支持开源项目是一种优秀习惯</h2>
        <p>付费金额(单位元)：</p>
        <slider 
            min="0"
            max="10000"
            show-value
            bindchanging="slider1change" 
            value
            v-model="money"
            @change="changeMoney"
        ></slider>
        <button type="primary" @click="payMoney">确认捐赠</button>
    </div>
</template>

<script>
import { ref, watch } from '@vue/composition-api'
export default { 
    setup(props, {root}){
        const {$store} = root; 
        let money = ref(1);

        watch(money, ()=>{
            let payload = {money: money.value};
            $store.dispatch('pay/pays', payload.money);
            $store.state.pay.payData
            if($store.state.pay.payData){
                console.log( $store.state.pay.payData,"付钱了...付钱了...");
            }
        }, {immediate: true})

        function changeMoney(e){ 
            money.value = e.detail.value
        }

        // 支付
        function payMoney(){ 
            const {timeStamp, nonceStr, paySign} = $store.state.pay.payData
            wx.requestPayment({ 
                timeStamp,
                nonceStr,
                package: $store.state.pay.payData.package,
                signType: 'MD5',
                paySign,
                complete: res=>{
                    console.log('res...', res);
                }
            })
        }
        return {
            money, 
            payMoney,
            changeMoney
        }
    } 
};
</script>

<style lang="scss" scoped>
.pay{ 
    h2{
        text-align: center;
        font-size: 50rpx;
        padding: 20rpx 0;
    }
    p{
        font-size: 35rpx;
        padding-left: 20rpx;
    }
    button{
        margin: 20rpx 0; 
    }
}
</style>