<script>
	import {mapActions} from 'vuex';
	
	export default {
		methods: {
			...mapActions({
				userLogin: 'user/userLogin', 
				myView:"sign"
			})
		},
		onLaunch: function() {
			wx.login({
				success: res=>{
					// console.log('res...', res);
					this.userLogin(res.code);
				}
			})
			// 判断最近一周有没有认证过
			let auth = wx.getStorageSync('auth');
			if (!auth){
				wx.navigateTo({
					url: '/pages/user/auth'
				})
			}else{//登录时间超过一周就重新登录
				let lastTime = auth.authTime;
				if (new Date() - lastTime > 7*24*60*60*1000){
					wx.navigateTo({
						url: '/pages/user/auth'
					})
				}
			}
		},
	
	}
</script>

<style lang="scss">
	/*每个页面公共css */
	@import "uview-ui/index.scss";
</style>
