<template>
    <div>
        <div class="title">面试信息</div>
        <div class="form">
            <div><li><label>公司名字</label><input type="text" placeholder="请输入公司名字" v-model="formList.company"></li> </div>
            <div><li><label>公司电话</label><input type="text" placeholder="请输入面试联系人电话" v-model="formList.phone"></li> </div>
            <div><li><label>面试时间</label><span @click="showTime">{{formList.start_time}}</span></li> <u-icon name="error-circle-fill" color="#06c" size="56" @click="showTip"></u-icon> </div>
            <div><li><label>面试地址</label><span @click="goSearch">{{formList.address.address}}</span></li> </div>
        </div>
        <div class="title">备注信息</div>
        <div class="textarea">
            <textarea v-model="formList.text" cols="20" rows="10" placeholder="备注信息(可选，100个子以内)"></textarea>
        </div>
        <button :class="btnEnable?'':'disable'" types="primary" form-type="submit" @click="surebtn">确认</button>
        <u-picker mode="time" v-model="show" :params="paramsTime" @confirm="confirm"></u-picker>
         
    </div>
</template>

<script>
import {reactive,toRefs,ref,computed} from '@vue/composition-api';
const chooseLocation = requirePlugin('chooseLocation');
import {moments} from '../../utils//time'
export default {
    // 面试地址地图选点
    onShow:function() {
        let location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
        if (location) {
             console.log("location...",location);
            location = {
           ...location,
            "id":location.form_id,
            "title":location.city,
            "address":location.address,
            "tel":location.phone,
            "category":"",
            "type":0,
            "location":{
                "lat":location.latitude,
                "lng":location.longitude
            },
       }
        console.log("location...",location);

            this.obj = location
            this.formList.address.address=location.address
            this.formList.latitude=location.latitude
            this.formList.longitude=location.longitude
        } 
    },
    onUnload:function () {
        // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
        chooseLocation.setLocation(null);
    },

    setup(props,{root}){
        const {$store}=root;
        const obj =reactive({})
        // 时间
		let paramsTime = reactive({
            year: false,
            month: false,
            day: true,
            hour: true,
            minute: true, 
		})
        
        // 表单
        const formList=reactive({ 
            company:"",
            phone:"",
            form_id:new Date()*1,
            address:{address:"请选择面试地址"},
            latitude:"",
            longitude:"",
            start_time:new Date().toLocaleString(), 
        }) 
		
        const show = ref(false);
        const btnEnables = ref(false);
        console.log(btnEnables.value);
        const col_btn = ref(false)
		// 跳转面试地址
		function goSearch(){ 
			// wx.navigateTo({url: '/pages/sign/search'})

            const key = 'WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA'; //使用在腾讯位置服务申请的key
            const referer = '一面而就'; //调用插件的app的名称
            const location = JSON.stringify({
                latitude: 39.89631551,
                longitude: 116.323459711
            });
            const category = '生活服务,娱乐休闲';
            
            wx.navigateTo({
                url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer + '&location=' + location + '&category=' + category
            });   
            formList.address.address=localStorage.getItem("key")
		} 
 
        function showTime(){ 
            show.value=true
        }
	 
        // 图标提示
        function showTip(){
            wx.showToast({
                title: '在面试前一个小时我们会通知你哦',
                icon: 'none'
            });
        }
        // 面试时间
        function confirm(data){
            console.log(data);
			const getMonths = new Date().getMonth()+1<10? "0"+(new Date().getMonth()+1):new Date().getMonth()+1;
			formList.start_time =`${new Date().getFullYear()}-${getMonths}-${data.day} ${data.hour}:${data.minute}`
            console.log(formList.time);
        }

        // 按钮禁用
        function btnEnable(){
            if(formList.company&&formList.phone&&formList.address){ 
                btnEnable.value=true 
               console.log(btnEnable.value,"1");
                return true
            }else{ 
                wx.showToast({
                    title: '请输入公司名称',
                    icon: 'none'
                }); 
                return false 
            }
        }

        // 确认按钮
        function surebtn(){  
            // if(obj.address){ 
              btnEnables.value=true 
                const List={
                    company:formList.company,
                    phone:formList.phone,
                    form_id:"",
                    address:JSON.stringify(formList.address),
                    latitude:formList.latitude,
                    longitude:formList.longitude,
                    start_time:new Date(formList.start_time)*1, 
                    description:""
                }
                console.log("-----------------",List);
                $store.dispatch("sign/getAddSign",List)
            // }
            //    wx.setStorageSync('openid', result.data.openid);
            // }else{ 
            //     btnEnables.value=false
            //     console.log(btnEnables.value,"禁用");
            //     wx.showToast({
            //         title: '请输入公司名称',
            //         icon: 'none'
            //     }); 
            //     return false
            // }
            
        }


		return {
			paramsTime,
            formList,
            show,
            col_btn,
			goSearch,
			showTime,
            prompt,// 提示
            showTip, 
            confirm, 
            surebtn,
            btnEnable,
            obj
		}
	}
};
</script>

<style lang="scss" scoped>
.title{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    background: #f3f3f3;
}
.form{
    div{
        border-bottom: 1px solid #ccc;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content:space-between;
        height: 100rpx;
        line-height: 100rpx;
        li{
            display: flex;
            align-items: center;
        }
        label{
            padding: 0 40rpx 0 20rpx; 
            font-size: 36rpx;
            color: #888;
        } 
        span{
            display: inline-block;
            flex: 1;
            height: 100%; 
            line-height: 200%;
            font-size: 28rpx;
            margin-left: -25rpx;  
        }
        u-icon{
            float: right;
            margin-right: 20rpx;
        }
    }
}
.textarea{
    margin: 10px;
    height: 260rpx;
    border: 1px solid #666;
    padding: 5px;
}
button{
    margin-top: 50rpx;
    color: #fff;
    background: #197DBF;
}
button.disable{
    background: #999;
}
.col{
    background: #197DBF;
}
</style>