<template>
    <div>
        <map name="" 
			show-location 
            :markers="markers"
            :include-points="includePoints"
            :circles="circles"
		></map>
        <div class="footer">
			 <div class="icon">
				<div class="location"><u-icon name="map" color="#03f" size="90"></u-icon></div>
				
			 </div> 
			 <hr>
			 <div class="add" @click="Clock" :class="{disable: distance>500}">打卡</div>
		 </div>
    </div>
</template>

<script>
import { onMounted, computed, reactive, ref } from "@vue/composition-api";
import getDistance from '@/utils/distance';

export default {
    setup(props, { root }) {
        const { $store, $mp } = root;
        const distance = ref(0);
        const location = reactive({
            longitude: 0,
            latitude: 0
        });

        onMounted(() => {
            $store.dispatch("sign/getSignDetail", $mp.query.id);
        });

        // 定位当前位置
        wx.getLocation({
            type: 'gcj02',
            success: res=>{
                location.longitude = res.longitude;
                location.latitude = res.latitude;
            }
        })
        // 获取面试详情
        const signDetail = computed(() => {
            return {
                ...$store.state.sign.signDetail,
                address: $store.state.sign.signDetail.address && JSON.parse($store.state.sign.signDetail.address)
            }      
        });
         // 绘制标记点
        const markers = computed(() => {
            if (signDetail.value.address){
                return [{
                longitude: signDetail.value.address.location.lng,
                latitude: signDetail.value.address.location.lat,
                width: 20,
                height: 20,
                iconPath: 'https://infinityicon.infinitynewtab.com/user-share-icon/0f2ab700f8fff5b6e9ebc7d6a976981f.png?imageMogr2/thumbnail/240x/format/webp/blur/1x0/quality/100|imageslim'
                }]
            }else{
                return []
            }
        })
        
        // 绘制包含点
        const includePoints = computed(() => {
            if (signDetail.value.address){
                return [{
                longitude: signDetail.value.address.location.lng,
                latitude: signDetail.value.address.location.lat,
                width: 20,
                height: 20,
                iconPath: 'https://infinityicon.infinitynewtab.com/user-share-icon/0f2ab700f8fff5b6e9ebc7d6a976981f.png?imageMogr2/thumbnail/240x/format/webp/blur/1x0/quality/100|imageslim'
                }, {
                longitude: location.longitude,
                latitude: location.latitude,
                }]
            }else{
                return []
           
           } 
        })
        // 绘制圈圈
        const circles = computed(()=>{
            if (signDetail.value.address){
                distance.value = getDistance(location.latitude, location.longitude, signDetail.value.address.location.lat, signDetail.value.address.location.lng).toFixed(2);
                console.log('distance: ', distance.value); 
                return [{
                    longitude: signDetail.value.address.location.lng,
                    latitude: signDetail.value.address.location.lat,
                    fillColor: distance.value>500?'#CCCCCC80': '#00800080',
                    radius: 500,
                    width: 20,
                    height: 20,
                    iconPath: 'https://infinityicon.infinitynewtab.com/user-share-icon/0f2ab700f8fff5b6e9ebc7d6a976981f.png?imageMogr2/thumbnail/240x/format/webp/blur/1x0/quality/100|imageslim'
                }]
            }else{
                return []
            }
        })
        // 打卡
        function Clock(){
            if (distance.value > 500){
                wx.showToast({
                    icon: 'none',
                    title: `你离目的地还有${distance.value}米，不能打卡`
                })
            }else{
                // todo 打卡
            }
        }
        return {
            distance,
            includePoints,
            signDetail,
            location,
            markers,
            circles,
            Clock
        };
    }
};
</script>

<style lang="scss" scoped>
map{
	width: 100vw;
	height: 100vh;
}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200rpx; 
	width: 100vw;  
	.my{
		border:2px solid #abcdef;
		border-radius: 50rpx;
		background: #000;
		
	}
	.add{
		background: #000;
		color: #fff;
		height: 100rpx;
		margin-top: 10px;
		line-height: 100rpx; 
		font-size: 40rpx;
		text-align: center;
	}
}
.icon{
	display: flex;
	justify-content: space-between;
}
</style>