<template>
    <div>
         <ul>
            <li @click="godetailAddress"><label class="label">面试地址：</label><div class="tel">{{detailInfo.address}}</div>
            <li><label>面试时间：</label><span>{{detailInfo.create_time}}</span></li>
            <li @click="callPhone(detailInfo.phone)"><label class="label">联系方式：</label><div class="tel">{{detailInfo.phone}}</div></li>
            <li><label>是否提醒：</label><span>{{detailInfo.remind}}</span></li>
            <li><label>面试状态：</label><span>{{detailInfo.status}}</span></li>
            <li><label>取消提醒：</label>
                <view class="body-view"> 
                    <switch @change="switch2Change"/>
                </view>
            </li>
         </ul>
         
         <p v-if="detailInfo.status=='未开始'">
             <button type="primary" @click="goClock">去打卡</button>
             <button type="warn">放弃面试</button>
         </p>
         
    </div>
</template>

<script>
import { watch, ref ,onMounted,computed} from '@vue/composition-api'
import {moments} from "@/utils/time";  
 let plugin = requirePlugin('routePlan');
export default {
    setup(props, { root }) {
        const { $store, $mp } = root; 
        const checked=ref(false); 
         
        function switch2Change(e){
            console.log('switch2 发生 change 事件，携带值为', e.detail.value)
        }
         
        onMounted(()=>{ 
            $store.dispatch('sign/getSignDetail', $mp.query.id);
            console.log("详情页获取的数据",$store.state.sign.signDetail); 
            wx.setNavigationBarTitle({ 
                title:detailInfo.title
            })
        }) 
 

        const detailInfo = computed(() => {
            if( Object.keys($store.state.sign.signDetail).length ){
                return  {  
                    address : JSON.parse($store.state.sign.signDetail.address).address, 
                    create_time : moments($store.state.sign.signDetail.create_time*1),
                    phone : $store.state.sign.signDetail.phone,
                    remind : $store.state.sign.signDetail.remind===-1?'未提醒':'已提醒',
                    status : $store.state.sign.signDetail.status===-1?'未开始':$store.state.sign.signDetail.status===0?'已打卡':'已放弃',
                    latitude : $store.state.sign.signDetail.latitude,
                    longitude : $store.state.sign.signDetail.longitude,
                    title : $store.state.sign.signDetail.company
                }
            } 
        });
      
        //去打卡
        function goClock(){  
            wx.navigateTo({url:"/pages/sign/clock"})
        }

        function godetailAddress(){ 
           console.log("1901901901",this.detailInfo);
            const key = 'WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA';  //使用在腾讯位置服务申请的key
            let referer = '一面而就';   //调用插件的app的名称
            let endPoint = JSON.stringify({  //终点
                'name': this.detailInfo.address,
                'latitude': this.detailInfo.latitude,
                'longitude': this.detailInfo.longitude
            });
            wx.navigateTo({
                url: 'plugin://routePlan/index?key=' + key + '&referer=' + referer + '&endPoint=' + endPoint
            })
        }

        //打电话
        function callPhone(phoneNumber){
            console.log("打电话",phoneNumber,JSON.stringify(phoneNumber));
            wx.makePhoneCall({phoneNumber})
        }
        return {
            detailInfo,
            checked,   
            switch2Change, 
            goClock,
            godetailAddress,
            callPhone
        }
    }
    
};
</script>

<style lang="scss" scoped>
ul{
    width: 100%;
    li{
        width: 100%;
        padding: 0 20rpx;
        height: 100rpx; 
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc; 
        .label{
            width: 140rpx;  
        }
        .tel{
            color: rgb(64, 189, 52);
            display: block;
            float: left;
            width: 82%;
        } 
    }
}
p{
    display: flex;
    button{
        margin-top: 20rpx;
        width: 45%;
    }
}


</style>