<template>
    <div>
        <!-- <div class="search_inp">
            <label>北京</label>
            <input type="text" placeholder="面试地址" v-model="address">
        </div>
        <ul>
            <li v-for="item in suggestions" :key="item.id">
                <img src="../../static/icon.png" alt=""> 
                <div>
                    <b>{{item.title}}</b>
                    <div class="address">{{item.address}}</div>
                </div>
            </li>
        </ul> -->
    </div>
</template>

<script>
// const key = 'WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA';
const chooseLocation = requirePlugin('chooseLocation');
export default {
    onShow:function() {
        const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
        console.log("location...",location);
        localStorage.setItem("key", location.address);
    },
    onUnload:function () {
        // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
        chooseLocation.setLocation(null);
    },
    setup() {
        const key = 'WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA'; //使用在腾讯位置服务申请的key
        const referer = '一面而就'; //调用插件的app的名称
        const location = JSON.stringify({
            latitude: 39.89631551,
            longitude: 116.323459711
        });
        const category = '生活服务,娱乐休闲';
        
        wx.navigateTo({
            url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer + '&location=' + location + '&category=' + category
        });
        
        // wx.redirectTo({url: '/pages/sign/addSign'});
    }
};
</script>

<style lang="scss" scoped>

</style>