<template>
    <div class="search">

        <!-- input框的搜索页面 -->

        
        <!-- <picker mode="region" @change="changeRegion">
            <span>{{region[1] || '北京'}}</span>
        </picker> -->
        <div class="search_inp">
            <label>北京</label>
            <input type="text" placeholder="面试地址" v-model="address">
        </div>
        <ul>
            <li v-for="item in suggestions" :key="item.id">
                <img src="../../static/icon.png" alt=""> 
                <div>
                    <b>{{item.title}}</b>
                    <div class="address">{{item.address}}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import { reactive, toRefs, ref, watch } from '@vue/composition-api'
import QQMapWX from "@/utils/qqmap-wx-jssdk"
import { throttle } from "@/utils/index"
const key = 'WCLBZ-Q6L6S-C4NO6-6BPPE-OEV2F-52FGA';

export default {  
    setup(){
        const address=ref('')
        const info=reactive({
            region:[],
            suggestions:[]
        })
        const qqmapsdk = new QQMapWX({
            key
        })
        function changeRegion(e){ 
            console.log("arguments..." ,arguments);
             info.region = e.target.value;
        }
        function getSuggestion(val){
            if (!address){
                return;
            }
            //调用关键词提示接口
            qqmapsdk.getSuggestion({
                //获取输入框值并设置keyword参数
                keyword: val, //用户输入的关键词，可设置固定值,如keyword:'KFC'
                region: info.region[1] || '北京', //设置城市名，限制关键词所示的地域范围，非必填参数
                success: function(res) {//搜索成功后的回调
                    console.log('res...', res);   
                    info.suggestions = res.data;                 
                }
            })
        }
        const wrapGetSuggestion=throttle(getSuggestion)
        watch(address,val=>{
            wrapGetSuggestion(val)
        })
        return {
            address,
            ...toRefs(info), 
            changeRegion
        }
    }
};
</script>

<style lang="scss" scoped>
.search_inp{
    display: flex; 
    align-items: center;
    border-bottom: 1px solid #ccc;
    label{
        padding: 20rpx 60rpx;
        font-size: 35rpx;
        color: #888;
        border-right: 1px solid #f3f3f3;
    }
    input{
        padding-left: 20rpx;
    }
}
ul{
    li{
        height: 100rpx;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        img{
            width: 95rpx;
            height: 95rpx;
            margin-right: 20rpx;
        }
        b{
            font-size: 38rpx;
        }
        .address{  
            font-size: 25rpx;
            color: #979797;   
        }
    }
    
}
</style>