<template>
    <div class="my">
        <div class="title">
            <span 
                v-for="(item,index) in tabList" :key="index"
                :class="{col:index===ind}" 
                @click="changeIndex(index)"
            >{{item}}</span>
        </div>  
        <ul>
            <li @click="goDetail(item.id)" v-for="item in signList" :key="item.id">
                <p>{{item.company}} <span :class="item.status===0?'blue':'gray'">{{item.status===-1?"未开始":item.status===0?"已打卡":"已放弃"}}</span> </p>
                <p>{{item.address.address}}</p>
                <p>面试时间: {{item.create_time }} <span :class="item.remind===-1&&item.status===0?'blue':'gray'">{{item.remind===-1?"未提醒":"已提醒"}}</span> </p>
            </li>
        </ul>
    </div>
</template>

<script>
import {reactive, toRefs, ref, watch, computed} from '@vue/composition-api';
import {moments} from "@/utils/time";
export default {
      setup(props, {root}){
        const {$store} = root;
        const tabList = reactive(
            ["未开始","已打卡","已放弃","全部"]
        ) 
        const active = ref(0);
        const page = ref(1);
        const ind = ref(0)
        const times = ref("")
        //高亮
        function changeIndex(index){
            ind.value=index 
        }
        watch([active, page, ind], ()=>{
            let payload = {page: page.value};
            if (ind.value !== 3){
                payload.status = ind.value - 1;
            }
            $store.dispatch('sign/getSignList', payload);
        }, {immediate: true})

        const signList = computed(()=>$store.state.sign.signList.map(item=>{ 
            return {...item, address: JSON.parse(item.address),create_time:moments(item.create_time*1)}
        }));
  
        function goDetail(id){
            wx.navigateTo({url: '/pages/sign/detail?id='+id})
        }
        
         
        return {
            tabList,
            ind,
            signList,
            times,
            changeIndex,
            goDetail, 
        }
    }
};
</script>

<style lang="scss">
.my{
    background: #f3f3f3;
    .title{
        display: flex; 
        background: #fff;
        justify-content: space-around;
        align-items: center; 
        span{
            padding: 15rpx 20rpx;  
        }
    }
}
ul{
    li{
        padding: 0 30rpx;
        background: #fff;
        margin-top: 20rpx;
        border-bottom: 1px solid #ccc;
        p{
            padding: 17rpx 0;
            display: flex;
            justify-content: space-between; 
            span{ 
                padding: 7rpx 20rpx;
                font-size: 32rpx;
                margin-top: 10rpx;
                border-radius: 10rpx;
                &.gray{ 
                    color: #f6f6f6;
                    background: #ccc;
                }
                &.blue{
                    color: rgb(99, 182, 250);
                    background: rgb(207, 235, 247);
                }
            }
            &:nth-child(1){
                font-size: 40rpx;
            }
            &:nth-child(3){
                span{ 
                    padding: 7rpx 20rpx;
                    font-size: 32rpx;
                    margin-top: 10rpx;
                    border-radius: 10rpx;
                    &.gray{
                        color: rgb(252, 90, 90);
                        background: rgb(253, 225, 225);
                    }
                    &.blue{
                        color: rgb(99, 182, 250);
                        background: rgb(207, 235, 247);
                    }
                }
            }   
        }
        
    }
}
.col{
    color: #09f;
    border-bottom: 5rpx solid #09f;
}
 
</style>