<template>
    <div class="user">
        <div class="user_img">
            <div class="user_top">
                <div class="pic"><open-data type="userAvatarUrl" open-gid="xxxxxx"></open-data></div>
            </div>
            <div>{{ phone }}</div>
        </div>
        
        <div>
            <div class="form" @click="goMyview">
                <div>
                    <u-icon name="question-circle-fill" color="#06c" size="55"></u-icon>
                    <span>我的面试</span>
                </div>
                <u-icon name="arrow-right" color="#888" size="40"></u-icon>
            </div>
            <div class="form">
                <div>
                    <u-icon name="info-circle-fill" color="#06c" size="55"></u-icon>
                    <button open-type="contact">客服中心</button>
                </div>
                <u-icon name="arrow-right" color="#888" size="40"></u-icon>
            </div>
            <div class="form" @click="goPay">
                <div>
                    <u-icon  name="checkmark-circle-fill" color="rgb(76, 206, 43)" size="55"></u-icon>
                    <span>支持项目</span>
                </div>
                <u-icon name="arrow-right" color="#888" size="40"></u-icon>
            </div>  
        </div> 
    </div>
</template>

<script>
import { onMounted, ref } from "@vue/composition-api";
export default {
    setup(props, { root }) {
        const { $store } = root;
        const phone = ref(wx.getStorageSync("tel"));
        phone.value = phone.value.substr(0, 3) + "****" + phone.value.substr(7);
        
        onMounted(() => {
            $store.dispatch("user/index");
            wx.getStorageSync("tel");
        });

        function goMyview() {
            wx.navigateTo({ url: "/pages/sign/signList" });
        };

        function goPay() {
            wx.navigateTo({ url: "/pages/pay/index" });
        }

        return {
            goMyview,
            goPay,
            phone,
        };
    },
};
</script>

<style lang="scss" scoped>
.user {
  .user_img {
    height: 400rpx;
    background: #f3f3f3;
    text-align: center;
    padding-top: 150rpx;
    .pic {
      background: #fff;
      width: 100rpx;
      height: 100rpx;
      border-radius: 50%;
      margin-left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 30rpx 20rpx;
    align-items: center;
    // height: 50px;
    div {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        margin-left: 10px;
        font-size: 18px;
      }
      button {
        background: none;
        width: 100%;
        border: none;
      }
    }
  }
}
</style>