<template>
    <div class="my">
        <div class="title">
            <span 
                v-for="(item,index) in tabList" :key="index"
                :class="{col:index===ind}" 
                @click="changeIndex(index)"
            >{{item}}</span>
        </div>  
        <ul>
            <li @click="goDetail(item.id)" v-for="item in signList" :key="item.id">
                <p>{{item.address.title}}</p>
                <p>
                    面试时间：{{item.start_time | formatTime}}
                </p>
                <p>{{item.address.address}}</p>
            </li>
        </ul>
    </div>
</template>

<script>
import {reactive, toRefs, ref, watch, computed} from '@vue/composition-api'
export default {
      setup(props, {root}){
        const {$store} = root;
        const tabList = reactive(
            ["未开始","已打卡","已放弃","全部"]
        ) 
        const active = ref(3);
        const page = ref(1);
        const ind = ref(0)

        //高亮
        function changeIndex(index){
            ind.value=index
        }
        watch([active, page], ()=>{
            let payload = {page: page.value};
            if (active.value !== 3){
                payload.status = active.value - 1;
            }
            $store.dispatch('sign/getSignList', payload);
        }, {immediate: true})

        const signList = computed(()=>$store.state.sign.signList.map(item=>{
            return {...item, address: JSON.parse(item.address)}
        }));

        function goDetail(id){
            wx.navigateTo({url: '/pages/sign/detail?id='+id})
        }
        

        return {
            tabList,
            ind,
            signList,
            changeIndex,
            goDetail
        }
    }
};
</script>

<style lang="scss">
.my{
    .title{
        display: flex;
        padding: 15rpx 0;
        background: #fff;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10rpx;
        span{
            padding: 15rpx 0; 
        }
    }
}
.col{
    color: #09f;
    border-bottom: 5rpx solid #09f;
}
</style>